@import '../Vars.scss';

.card__wrapper{
  border: 3px outset transparent;
  height: 100%;
  border-radius: 12px;
  padding-bottom: 6px;
}


.card__container {
  background-color: $white;
  margin: 0 auto;
  border: 3px solid $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-radius: 7px;
  transition: 0.3s;
  position: relative;
}

.card__wrapper:hover {
  border-color: $border-black;
  opacity: 0.9;
  transition: 0.3s;
}

.grass{
  border-color: $grass;
}

.fire {
  border-color: $fire;
}

.water{
  border-color: $water;
}

.bug{
  border-color: $bug;
}

.normal{
  border-color: $normal;
}

.flying{
  border-color: $flying;
}

.electric{
  border-color: $electric;
}

.steel{
  border-color: $steel;
}

.poison{
  border-color: $poison;
}

.ground{
  border-color: $ground;
}

.fairy{
  border-color: $fairy;
}

.fighting{
  border-color: $fighting;
}

.psychic{
  border-color: $psychic;
}

.rock{
  border-color: $rock;
}

.ghost{
  border-color: $ghost;
}

.ice{
  border-color: $ice;
}

.dragon{
  border-color: $dragon;
} 

.card__label--container{
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  margin-top: -7px;
  margin-left: -3px;
}

.card__label {
  margin: 0 0 0 -55px;
  z-index: 1;
  transform: rotate(315deg);
  background: linear-gradient(to right, #F7971E, #FFD200);
  text-align: center;
  width: 115%;
  padding-top: 2px;
  padding-bottom: 2px;
  position: relative;
}

.card__label--number{
  margin: 0 0 0 55px;
  text-align: left;
  color: $white;
  font-weight: bold;
  font-family: $theme-font;
  font-size: 1em;
}


.card__title {
  border-bottom: 3px solid $black;
  background-color: $black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card__container .grass{
  background-color: $grass;
  border-color: $grass;
}

.card__container .fire {
  background-color: $fire;
  border-color:  $fire;
}

.card__container .water{
  background-color: $water;
  border-color: $water;
}

.card__container .bug{
  background-color: $bug;
  border-color: $bug;
}

.card__container .normal{
  background-color: $normal;
  border-color: $normal;
}

.card__container .flying{
  background-color: $flying;
  border-color: $flying;
}

.card__container .electric{
  background-color: $electric;
  border-color: $electric;
}

.card__container .steel{
  background-color: $steel;
  border-color: $steel;
}

.card__container .poison{
  background-color: $poison;
  border-color: $poison;
}

.card__container .ground{
  background-color: $ground;
  border-color: $ground;
}

.card__container .fairy{
  background-color: $fairy;
  border-color: $fairy;
}

.card__container .fighting{
  background-color: $fighting;
  border-color: $fighting;
}

.card__container .psychic{
  background-color: $psychic;
  border-color: $psychic;
}

.card__container .rock{
  background-color: $rock;
  border-color: $rock;
}

.card__container .ghost{
  background-color: $ghost;
  border-color: $ghost;
}

.card__container .ice{
  background-color: $ice;
  border-color: $ice;
}

.card__container .dragon{
  background-color: $dragon;
  border-color: $dragon;
} 


.card__title--text {
  margin: 5px 2px 0 2px;
  text-align: center;
  text-transform: capitalize;
  color: $white;
}

.card__image{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card__image--src {
  width: 125px;
  height: 125px;
}

.card__attributes {
  font-weight: bold;
  border-top: 3px solid $black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: $black;
}

.card__container .grass__attributes{
  background-color: $grass;
  border-color: $grass;
}

.card__container .fire__attributes{
  background-color: $fire;
  border-color: $fire;
}

.card__container .water__attributes{
  background-color: $water;
  border-color: $water;
}

.card__container .bug__attributes{
  background-color: $bug;
  border-color: $bug;
}

.card__container .normal__attributes{
  background-color: $normal;
  border-color: $normal;
}

.card__container .flying__attributes{
  background-color: $flying;
  border-color: $flying;
}

.card__container .electric__attributes{
  background-color: $electric;
  border-color: $electric;
}

.card__container .steel__attributes{
  background-color: $steel;
  border-color: $steel;
}

.card__container .poison__attributes{
  background-color: $poison;
  border-color: $poison;
}

.card__container .ground__attributes{
  background-color: $ground;
  border-color: $ground;
}

.card__container .fairy__attributes{
  background-color: $fairy;
  border-color: $fairy;
}

.card__container .fighting__attributes{
  background-color: $fighting;
  border-color: $fighting;
}

.card__container .psychic__attributes{
  background-color: $psychic;
  border-color: $psychic;
}

.card__container .rock__attributes{
  background-color: $rock;
  border-color: $rock;
}

.card__container .ghost__attributes{
  background-color: $ghost;
  border-color: $ghost;
}

.card__container .ice__attributes{
  background-color: $ice;
  border-color: $ice;
}

.card__container .dragon__attributes{
  background-color: $dragon;
  border-color: $dragon;
}

.card__attributes--container {
  border: 2px solid $white;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  text-transform: capitalize;
  color: $white;
}

.card__attribute--grass {
  background-color: $grass-button;
}

.card__attribute--fire {
  background-color: $fire-button;
}

.card__attribute--water {
  background-color: $water-button;
}

.card__attribute--bug {
  background-color: $bug-button;
}

.card__attribute--normal {
  background-color: $normal-button;
}

.card__attribute--flying {
  background-color: $flying-button;
}

.card__attribute--electric {
  background-color: $electric-button;
}

.card__attribute--steel {
  background-color: $steel-button;
}

.card__attribute--poison{
  background-color: $poison-button;
}

.card__attribute--ground{
  background-color: $ground-button;
}

.card__attribute--fairy{
  background-color: $fairy-button;
}

.card__attribute--fighting{
  background-color: $fighting-button;
}

.card__attribute--psychic{
  background-color: $psychic-button;
}

.card__attribute--rock{
  background-color: $rock-button;
}

.card__attribute--ghost{
  background-color: $ghost-button;
}

.card__attribute--ice{
  background-color: $ice-button;
}

.card__attribute--dragon{
  background-color: $dragon-button;
}

@media screen and (max-width: 425px){
  .card__label {
    width: 55%;
  }
}

@media screen and (max-width: 375px){
  .card__label {
    width: 60%;
  }
}

@media screen and (max-width: 320px){
  .card__label {
    width: 70%;
  }
}





