@import '../Vars.scss';

.cardlist__search--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cardlist__search--wrapper{
  border: 1px solid red;
  background-color: $sidebar-border;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%; //420px
  height: 100%;
  padding: 25px 35px 25px 35px;
}

.cardlist__searchtitle{
  color: $white;
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.cardslist__searchbar{
  background-color: $sidebar-border;
  border: 3px solid $white;
  border-radius: 50px;
  color: $white;
  font-family: $theme-font;
  font-size: 16px;
  padding: 7px 0 7px 10px;
  width: 85%;
}

.cardslist__searchbar::placeholder{
  font-family: $theme-font;
  color: $white;
}

.cardslist__searchbar:focus{
  outline: none;
}

.cardslist__container{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 15%);
  column-gap: 15px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.cardslist__notfound--message{
  grid-column: 1/end;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-family: $theme-font;
  font-weight: bold;
  color: $black;
}

@media screen and (max-width: 1920px){
  .cardslist__container{
    grid-template-columns: repeat(7, 12%);
  }
}

@media screen and (max-width: 1440px){
  .cardslist__container{
    grid-template-columns: repeat(6, 14%);
  }
}

@media screen and (max-width: 1024px){
  .cardslist__container{
    grid-template-columns: repeat(5, 18%);
  }
}

@media screen and (max-width: 768px){
  .cardlist__search--wrapper{
    width: 55%;
  }

  .cardslist__container{
    grid-template-columns: repeat(3, 30%);
  }
}

@media screen and (max-width: 620px){
  .cardslist__container{
    grid-template-columns: repeat(2, 45%);
  }
}

@media screen and (max-width: 425px){
  .cardlist__search--wrapper{
    width: 70%;
  }

  .cardslist__container{
    grid-template-columns: repeat(1, 80%);
  }
}

