@import '../Vars.scss';

.createaccountform__container{
  align-self: center;
  background-color: $white;
  border: 3px solid $black;
  border-radius: 7px;
  margin-top: 5%;
  padding: 25px 30px 25px 30px;
  width: 27.5%;
  min-width: 200px;
  max-width: 400px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
}

.createaccountform__title{
  text-align: center;
  margin: 0;
}

.createaccountform__error--information{
  align-self: center;
  color: $white;
  background-color: $black;
  text-align: center;
  width: 30%;
  border-radius: 7px;
  padding: 10px;
  margin: 0;
  margin-top: 30px;
  position: absolute;
  animation-name: createaccountform-errors;
  animation-duration: 0.1s;
}

@keyframes createaccountform-errors {
  from {
    filter: blur(5px);
    opacity: 0;
    margin-top: 20px;
  }

  to {
    filter: blur(0);
    opacity: 1;
    margin-top: 30px;
  }
}

.createaccountform__form{
  display: flex;
  flex-direction: column;
}

.createaccountform__text{
  margin: 10px 0 3px 0;
  font-weight: bold;
}

.createaccountform___input{
  border: 1px solid $black;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
}

.createaccountform___input:focus{
  outline: none;
}

.createaccountform___input[type='text']{
  font-family: $theme-font;
  color: $black;
}

.createaccountform___button{
  margin-top: 25px;
  border: 1px solid $black;
  border-radius: 3px;
  background-color: $white;
  color: $black;
  font-family: $theme-font;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
  width: 70%;
  align-self: center;
  padding: 10px;
}

.createaccountform___button:hover{
  background-color: $black;
  color: $white;
}

@media screen and (max-width: 425px){
  .createaccountform{
    width: 100%;
    margin: 0;
    position: relative;
    padding-bottom: 75px;
  }

  .createaccountform__title{
    margin-top: 20px;
  }

  .createaccountform__error--information{
    width: 60%;
    margin-top: 50px;
  }

  @keyframes createaccountform-errors {
    from {
      filter: blur(5px);
      opacity: 0;
      margin-top: 40px;
    }
  
    to {
      filter: blur(0);
      opacity: 1;
      margin-top: 50px;
    }
  }
}