@import '../Vars.scss';

.createaccountform__container{
  align-self: center;
  background-color: $white;
  border: 1px solid $black;
  border-radius: 7px;
  margin-top: 5%;
  padding: 25px 30px 25px 30px;
  width: 27.5%;
  min-width: 200px;
  max-width: 400px;
  height: 100%;
}

.createaccountform__title{
  text-align: center;
  margin: 0;
}

.createaccountform__form{
  display: flex;
  flex-direction: column;
}

.createaccountform__text{
  margin: 10px 0 3px 0;
  font-weight: bold;
}

.createaccountform___input{
  border: 1px solid $black;
  padding: 10px 10px 10px 10px;
}

.createaccountform___input:focus{
  outline: none;
}

.createaccountform___input[type='text']{
  font-family: $theme-font;
  color: $black;
}

.createaccountform___button{
  margin-top: 25px;
  border: 1px solid $black;
  background-color: $white;
  color: $black;
  font-family: $theme-font;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
  width: 70%;
  align-self: center;
  padding: 10px;
}

.createaccountform___button:hover{
  background-color: $black;
  color: $white;
}