@import '../Vars.scss';

.sidebarmenu {
  display: flex;
  border: 1px solid $sidebar-border;
  background-color: $sidebar-border;
  justify-content: center;
  position: fixed;
  height: 100%;
  margin-bottom: -50px;
}

.sidebarmenu__nav {
  height: 100%;
}

.sidebarmenu__nav--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.sidebarmenu__logo--image {
  width: 35px;
  height: 35px;
}

.sidebarmenu__nav--list a {
  text-decoration: none;
  list-style: none;
  color: $white;
  background-color: $sidebar-border;
  font-size: 24px;
  transition: 0.3s;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0px 10px 0 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $sidebar-border;
}

.sidebarmenu__nav--list a:hover:not(:first-child){
  background-color: $white;
  color: $sidebar-border;
}

.sidebarmenu__nav--list a:focus:not(:first-child){
  background-color: $white;
  color: $sidebar-border;
}

.sidebarmenu__nav--list a:hover:first-child {
  opacity: 0.5;
}


@media screen and (max-width: 425px){
  .sidebarmenu{
    display: flex;
    border-top: 2px solid $sidebar-border;
    background-color: $sidebar-border;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    height: 16%;
    width: 100%;
    z-index: 2;
  }

  .sidebarmenu__nav{
    margin: 0;
    height: 100%;
    width: 100%;
  }

  .sidebarmenu__nav--list{
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    height: 100%;
    padding-top: 10px;
  }

  .sidebarmenu__nav--list a{
    // height: auto;
    margin: 0 0 0 0;
    padding: 20px 20px 0 20px;
    border-left: 1px solid $sidebar-border;
  }

  .sidebarmenu__nav--list a:focus:not(:first-child){
    background-color: $white;
    color: $sidebar-border;
  }

  .sidebarmenu__nav--list a:last-child{
    border-right: 1px solid $sidebar-border;
  }
}
