@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$theme-font: 'Roboto', sans-serif;
$white: #FFFFFF;
$black: #000000;
$grass: #58CC02;
$fire: #E50914;
$water: #5A8BCD;
$bug: #A3804A;
$normal: #CD835A;
$flying: #EEDE7B;
$electric: #F6BD20;
$steel: #92BAA8;
$poison: #575F80;
$ground: #A45A5A;
$fairy: #FB988F;
$fighting: #C49B7F;
$psychic: #B4ACC5;
$rock: #6D6A61;
$ghost: #5E4459;
$ice: #3487C3;
$dragon: #EE9C39;

$grass-button: #64E105;
$fire-button: #F50A16;
$water-button: #769FD5;
$bug-button: #CEA15E;
$normal-button: #C36B3C;
$flying-button: #E5CD34;
$electric-button: #F7C53B;
$steel-button: #A2C3B4;
$poison-button: #677198;
$ground-button: #AE6B6B;
$fairy-button: #FBA59D;
$fighting-button: #B78462;
$psychic-button: #9287AB;
$rock-button: #878378;
$ghost-button: #85607E;
$ice-button: #5EA3D4;
$dragon-button: #EB8A14;

$border-black: #181717;
$link: #0645AD;
$golden: #F7931A;
$sidebar-border: #EA1D2C;