@import '../Vars.scss';

body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  font-family: $theme-font;
  background-color: $white;
  color: $black;
}