.levelone {
  width: 100%;
  margin: 40px;
  margin-left: 90px;
}

.levelone__title{
  text-align: center;
  margin-top: -10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 425px){
  .levelone{
    width: 100%;
    margin: 0;
    position: relative;
    padding-bottom: 75px;
  }

  .levelone__title{
    margin-top: 20px;
  }
}